@import "/src/scss/colors.scss";
@import "/src/scss/fonts.scss";

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.element {
  @include regular-font;
  margin-bottom: 25px;
  &Header {
    margin-bottom: 10px;
  }
  &Title {
    @include bold-font;
  }
}

.accept {
  @include bold-font;
  color: $confirm-green;
}

.password{
  max-height: 40px;
  margin-bottom: 25px;
  max-width: 400px;
  &Label{
    @include bold-font;
  }
}

.button{
  margin: auto auto 0 auto;
}