@import "/src/scss/colors.scss";
@import "/src/scss/fonts.scss";

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.element {
  @include regular-font;
  margin-bottom: 25px;
  &Header {
    margin-bottom: 10px;
  }
  &Title {
    @include bold-font;
  }
}

.confirmed {
  &True{
    @include bold-font;
    color: $confirm-green;
  }
  &False{
    @include bold-font;
    color: $danger-red;
  }
}

.password{
  max-height: 40px;
  margin-bottom: 25px;
  max-width: 400px;
  &Label{
    @include bold-font;
  }
}

.button{
  margin: auto auto 0 auto;
}