.wrap{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 55px 75px 35px 75px;
    background: white;
    border-radius: 0 10px 10px 0;
}

.title{
    margin-bottom: 35px;
}