.modal{
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalDialog{
    position: relative;
    display: flex;
    padding: 30px 80px;
    margin: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modalContent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}