@import-normalize;

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #EDEEF0;
    font-family: 'Montserrat', sans-serif;
}

#root,
#root>div {
    height: 100%
}

ul, h1{
    margin: 0;
    padding: 0;
}

input, div, aside, nav{
    box-sizing: border-box;
}

button{
    border: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf') format('ttf');
}