$main-background: #EDEEF0;
$module-background: white;
$font-color: black;
$placeholder-color: #979797;
$confirm-green: #4BB34B;
$auth-color: #2D81E0;
$gradient: linear-gradient(84.61deg, #BF1832 18.5%, #F38816 117.29%);
$focus-red: #DF2926;