$main-background: #EDEEF0;
$font-color: black;
$placeholder-color: #979797;
$confirm-green: #4BB34B;
$auth-color: #2D81E0;
$gradient: linear-gradient(84.61deg, #BF1832 18.5%, #F38816 117.29%);
$nav-active: #37393F;
$nav-text-active: white;
$nav-text-not-active: #A3A3A3;
$nav-background: #26282A;
$nav-not-active: invert(73%) sepia(9%) saturate(0%) hue-rotate(185deg) brightness(88%) contrast(92%);