@mixin regular-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

@mixin bold-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}